.flash {
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 1000;
  padding: 20px 30px;
  border-radius: 3px;
  font-weight: bold;
  background: #ffffff;
  @extend .bs;
  opacity: 0;
  transition: 0.25s;

  &.update {
    color: $c-white;
    background: $c-green;
  }

  &.delete {
    color: $c-white;
    background: $c-green;
  }

  &.active {
    opacity: 1;
  }
}