.sidebar {
  width: 250px;
  height: 100vh;
  padding: 1rem 0rem;
  background: darken($pateo, 25%);
}

.sidebar-heading {
  color: mix($pateo, #eaeaea, 50%);
  font-weight: normal;
  font-size: 1rem;
  padding: 0.75rem 0.75rem;
}

.sidebar-list-item {
  color: mix($pateo, #eaeaea, 50%);
  background: darken($pateo, 25%);
}

.sidebar-link-icon {
  margin-right: 1rem;
}

.list-group-item-action:hover {
  color: #fff;
  background: $pateo;
}

.list-group-item-action:focus {
  @extend .sidebar-list-item;
}