* {
  // outline: 1px solid red;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.app {
  display: flex;
}

.sidebar {
  width: 300px;
  height: 100vh;
  padding: 1rem;
  background: #eeeeee;
}

.main {
  width: 100%;
  padding: 1rem 6rem;
}