// Variable overrides
$red: #c74f4f;
$green: #55c03b;
$pateo: #43998c;
$primary: $pateo;

$border-radius: 3px;
$list-group-border-radius: 0px;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import 'global';
@import 'sidebar';

.app {
  display: flex;
}

.main {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 4rem;
}