.button {
  display: inline-block;
  font-weight: bold;
  padding: 15px 15px;
  color: $c-white;
  background: $c-button;
  border-radius: 3px;
  border: 0px;
  transition: 0.25s;

  &:hover {
    background: darken($c-button, 20%);
  }

  &.secondary {
    color: darken($c-button, 20%);
    border: $border-width solid $c-button;
    background: $c-white;

    &:hover {
      border: $border-width solid darken($c-button, 20%);
    }
  }

  &.tertiary {
    color: $c-button;
    background: none;
    border: 0;
  }
}