.row {
  max-width: $g-width;
  margin: 0 auto;
  padding: 0px $g-padding / 2;

  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.row-full {
  max-width: 100%;
}

@for $i from 1 through $g-columns {
  .col-#{$i} {
    width: 100% / $g-columns * $i;
    float: left;
    position: relative;
    padding: 0px $g-padding / 2;

    @media #{$g-breakpoint-sm} {
      width: 100%;
      float: none;
    }
  }
}

@for $i from 1 through $g-columns {
  @media #{$g-breakpoint-md} {
    .col-md-#{$i} {
      width: 100% / $g-columns * $i;
      float: left;
      position: relative;
      padding: 0px $g-padding / 2;
    }
  }
}

@for $i from 1 through $g-columns {
  @media #{$g-breakpoint-sm} {
    .col-sm-#{$i} {
      width: 100% / $g-columns * $i;
      float: left;
      position: relative;
      padding: 0px $g-padding / 2;
    }
  }
}

@for $i from 1 through $g-columns {
  .push-#{$i} {
    left: 100% / $g-columns * $i;

    @media #{$g-breakpoint-sm} {
      left: 0px;
    }
  }
}

@for $i from 1 through $g-columns {
  .pull-#{$i} {
    right: 100% / $g-columns * $i;

    @media #{$g-breakpoint-sm} {
      right: 0px;
    }
  }
}

