.navbar {
  position: relative;
  background: $c-white;

  a {
    color: $c-black;
    font-weight: bold;
  }
}

.navbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $g-width;
  padding: 2rem $g-padding;
  margin: 0 auto;

  @media #{$g-breakpoint-md} {
    flex-wrap: wrap;
  }
}

.navbar__logo {
  @media #{$g-breakpoint-md} {
    flex-basis: 100%;
  }
}

.navbar__button {
  position: absolute;
  top: 2rem;
  right: $g-padding;
  cursor: pointer;
  display: none;

  @media #{$g-breakpoint-md} {
    display: block;
  }
}

.navbar__button-line {
  width: 30px;
  height: 3px;
  border-radius: $border-radius;
  background: #000;

  &:nth-child(2) {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

.navbar__collapse {
  display: block;

  @media #{$g-breakpoint-md} {
    display: none;
  }
}

.navbar__collapse--active {
  @media #{$g-breakpoint-md} {
    display: block;
    flex-basis: 100%;
  }
}

.nav {
  position: relative;
  padding: 0rem;
  margin: 0rem;
  list-style: none;

  @media #{$g-breakpoint-md} {
    margin-top: 2rem;
  }

  li {
    display: inline-block;
    margin-right: 2rem;

    @media #{$g-breakpoint-md} {
      margin-right: 0;
      margin-bottom: 1rem;
      width: 100%;
    }

    &:last-child {
      margin-right: 0;

      @media #{$g-breakpoint-md} {
        margin-bottom: 0;
      }
    }

    &:hover .subnav {
      opacity: 1;
      pointer-events: all;
    }
  }

  a {
    display: inline-block;
  }
}