@each $name, $value in $text-sizes {
  .t-#{$name} {
    font-size: $value !important;
  }
}

.t-l {
  text-align: left !important;
}

.t-c {
  text-align: center !important;
}

.t-r {
  text-align: right !important;
}

.t-b {
  font-weight: bold;
}